<% include includes/header %>
<div class="carousel carousel-slider" data-indicators="true">
      <a class="carousel-item" href="#one!">
        <img src="images/slide-01.jpg">
      </a>
      <a class="carousel-item" href="#two!">
        <img src="images/slide-02.jpg">
      </a>
      <a class="carousel-item" href="#three!">
        <img src="images/slide-03.jpg">
      </a>
      <a class="carousel-item" href="#four!">
        <img src="images/slide-04.jpg">
      </a>
      <a class="carousel-item" href="#five!">
        <img src="images/slide-05.jpg">
      </a>
    </div>
    <% include includes/footer %>