<%- include('includes/header')%>

<h1>Shopping Cart</h1>
<div class="tagline">Subtotal: $0.00</div>
<main role="main" id="MainContent">
    <div class="cart-container container">

    <table class="bordered highlight responsive-table striped">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>John Doe</th>
          <th>jdoe@gmail.com</th>
          <th>New York</th>
        </tr>
        <tr>
          <th>Bob Johnson</th>
          <th>bob@yahoo.com</th>
          <th>Boston</th>
        </tr>
        <tr>
          <th>Karen Williams</th>
          <th>karen@yahoo.com</th>
          <th>Miami</th>
        </tr>
      </tbody>
    </table>

  
  <div class="empty-container">
    <div class="supports-cookies center">
      <h3>Your cart is currently empty.</h3>
      <a class="btn-large" href="/product">Continue Browsing</a>
    </div>

    
    
  </div>

</div>

  </main>


<%- include('includes/footer')%>